.single-card{
    width: 80%;
}
.button{
    display: flex !important;
    align-items: center;
    background-color: #D58F06 !important;
    color: #fff !important;
    font-weight: 600 !important;
}
.button:hover{
    border: 1px solid #D58F06 !important;
    background-color: transparent !important;
    color: #D58F06 !important;
}
.btn-text{
    margin-bottom: 0;
    margin-right: 7px;
}
@media only screen and (max-width: 498px){
    .button-size{
        font-size: 12px !important;
        padding: 8px 10px !important;
    }
}