.logo{
    width: 120px;
}
.header{
    font-size: 50px;
    color: #fff;
}
.header span{
    color: #D58F06;
    border-bottom: 2px solid #D58F06;
}
@media only screen and (min-width: 740px){
    .logo{
        width: 150px;
    }
}
@media only screen and (max-width: 600px){
    .logo{
        width: 90px;
    }
    .header{
        font-size: 30px !important;
    }
}